@import 'tailwindcss';

@font-face {
  font-family: 'GTStandard';
  src:
    url('../fonts/GT-Standard-L-Standard-Medium.woff') format('woff'),
    url('../fonts/GT-Standard-L-Standard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTStandard';
  src:
    url('../fonts/GT-Standard-L-Standard-Medium-Oblique.woff') format('woff'),
    url('../fonts/GT-Standard-L-Standard-Medium-Oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --line-height: 1.1;
  --color-global: #333333;
  font-size: 15px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
  @media (min-width: 1600px) {
    font-size: 20px;
  }
  @media (min-width: 1920px) {
    font-size: 20px;
  }
  @media (min-width: 2560px) {
    font-size: 22px;
  }
}

@theme {
  --color-brown: #844d49;
  --color-black: #333333;
  --color-global: var(--color-global);
  --color-bg: rgb(230, 230, 230);
  --leading-default: var(--line-height);
  --font-gt-standard: 'GTStandard', sans-serif;
  --spacing-linebreak: calc(var(--line-height) * 1em);
}

@layer components {
  .link {
    @apply transition-colors duration-75  cursor-pointer;
    @variant md {
      &:hover {
        @apply text-gray-400!;
      }
    }
  }

  .body-text {
    @apply leading-default;
  }
  .body-text a {
    @apply underline! transition-colors duration-75 md:hover:text-gray-400!;
  }
  .body-text p {
    @apply mb-linebreak;
  }
  .body-text *:last-child {
    @apply mb-0;
  }
  .body-text ul,
  .body-text ol {
    @apply mb-linebreak list-disc ml-16;
  }
}

@layer utilities {
  .font-gt-standard {
    -webkit-text-stroke: 0.015em currentColor;
  }

  h1,
  .h1 {
    @apply text-[2.5rem] font-gt-standard;
    @variant md {
      @apply text-[4rem] font-gt-standard;
    }
    @variant xl {
      @apply text-[5.5rem]   font-gt-standard;
    }
  }
  h2,
  .h2 {
    @apply text-[2.25rem] font-gt-standard tracking-[0.0125em];
    @variant xl {
      @apply text-[3rem]   font-gt-standard;
    }
  }
  h3,
  .h3 {
    @apply text-[2rem]  font-gt-standard;
    @variant xl {
      @apply text-[2.5rem]  font-gt-standard;
    }
  }
  h4,
  .h4 {
    @apply text-[1.5rem];
    @variant xl {
      @apply text-[2rem];
    }
  }
  h5,
  .h5 {
    @apply text-[1.5rem];
    @variant xl {
      @apply text-[1.75rem];
    }
  }
  h6,
  .h6 {
    @apply text-[1.125rem];
  }
  caption,
  figcaption,
  .small,
  small {
    @apply text-[0.875rem] leading-default font-gt-standard;
    @variant lg {
      @apply text-[0.85rem] leading-default;
    }
  }
  .x-small {
    @apply text-[0.7rem] leading-default font-gt-standard;
    @variant lg {
      @apply text-[0.7rem] leading-default;
    }
  }
}

ul {
  @apply list-none ml-0 pl-0 mb-linebreak;
}
